@charset "UTF-8";

*{
   margin: 0%;
}





:root{
    --color00: #7CCBEB;
    --color01: #2782bb;
    --color02: #2932D9;
    --color03: #9babfa;
    --color04: #5c04ff3f;
}

body{
    background-color: var(--color01);
}

header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 2vw;
    background-color: var(--color02);
    color: var(--color03);
    text-align: center;
    padding: 20px;
}

article{
    padding: 20px;
}

aside{
    max-width: 600px;
    display: flex;  
    align-items: center;
}

img{
    width: 25vw;
}

div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    background-color: var(--color04);
    text-indent: 15px;
    padding: 10px;
    border-radius: 8px;
    text-align: justify;
    width: 400px;
}

p > em{
    font-weight: normal;
    font-size: 0.8em;
}

strong{
    color: var(--color03);
}

strong > a{
    color: var(--color03);
}

strong > a:hover{
    background-color: var(--color01);
    border-radius: 5px;
    color: black;
    text-decoration: none;
}