@charset "UTF-8";

body{
    height: 97vh;
    background-image: url('../imagem/espaco.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    height: 97vh;
    background-image: url('../imagem/astronauta.png');
    background-position: center center;
    background-repeat: no-repeat;
}