@charset "UTF-8";

body{
    height: 97vh;
    background-image: url('../imagem/espaco.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section{
    /*background-image: url('../imagem/astronauta.png');*/
    background-color: aquamarine;
}